<!DOCTYPE html>
<html>
<head>
	<title>Welcome to this test application!</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<h1>Cluster scaling testing</h1>

{% if clusters %}
<h2>You have the following clusters:</h2>

{% for cluster in clusters %}
	<h3><a href="/describeCluster?cluster={{ cluster }}">{{ cluster }}</a></h3>
{% endfor %}
{% endif %}

{% if details %}
	<h3>Cluster name: {{ details['clusterName'] }}</h3>
	<h4>Desired number of tasks: {{ details['runningTasksCount'] + details['pendingTasksCount'] }}</h4>
	<h4>Pending tasks: {{ details['pendingTasksCount'] }}</h4>
	<h4>Running tasks: {{ details['runningTasksCount'] }}</h4>
	<h4>Number of instances: {{ details['registeredContainerInstancesCount'] }}</h4>
{% endif %}

<a href="/testScaleUp"><h2>Test scaleup alarm</h2></a>

<a href="/testScaleUp" class="buttons"><p>Start!</p></a>

</body>
</html>